{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-tutorials-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<script>
  document.getElementsByClassName("menu-item-quickstart")[1].classList.add('active')
</script>
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="tutorial tutorial-single">
        <h1 class="title">{{.Title}}</h1>
        <div class="content"> 
          {{ if .Params.Summary }}
          <p>{{ .Params.Summary }}</p> {{ end }}
          {{ if and (.Params.Difficulty) (.Params.Duration)}}
          <h4 class="properties">{{.Params.Difficulty}} Tutorial | Expected duration is {{ .Params.Duration }} minutes</h4> {{ end }}
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</div>
{{ partial "cite.html" }}
{{ end }}
