<div id="main-menu" class="main-menu">
  <ul>
    {{- $currentPage := . -}}
    {{/* Needed to avoid highlighting both Quickstart and Tutorials from the Quickstart page */}}
    {{- $isQuickstart := (eq .LinkTitle "Quickstart") -}}
    {{- range .Site.Menus.main }}
    {{ $isQuickstartTutorialEntry := (and $isQuickstart (eq .KeyName "tutorials")) -}}
    {{- $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
    <li class="menu-item-{{ .KeyName }}{{ if and $active (not $isQuickstartTutorialEntry) }} active{{ end }}">
      <a href="{{.URL}}"><span>{{ .Name }}</span></a>
    </li>
    {{- end }}
  </ul>
</div>
